<h2>Apa itu Contuctor di Java?</h2>

<p>
Konstruktor (Constructor) adalah method khusus yang akan dieksekusi pertama kali saat pembuatan (inisiasi) suatu Object (Class))
.Konstruktor merupakan sebuah method dimana nama konstruktor harus sama persis dengan nama file dan Class-nya.
Konstruktor merupakan komponen wajib yang harus ada dalam suatu class, jika tidak dituliskan dalam class maka java akan secarra otomatis membuat satu contructor pada class tersebut.
</p>

<p>
Ciri-ciri konstruktor yaitu, tidak memiliki return value. Kontruktor harus punya nama yang sama dengan nama Class-nya. Bisa memiliki parameter ataupun tidak.
</p>

<p>
Konstruktor berfungsi untuk memberikan nilai awal (instans) pada sebuah class ketika class tersebut dibuat.
</p>

<h2>Syntax Penulisan / Contoh Constructor</h2>

<p>
Berikut Contoh Penulisan Constructor pada java. nama file : <b>NamaClass.java</b>
</p>

<pre>
<code class="language-java">
public class NamaClass {
	// this is (default) constructor. without parameter
	public NamaClass() {
	
	}
	
	// this is (costumize) constructor. with parameter
	public NamaClass(String param1, String param2) {
	
	}
}
</code>
</pre>

<h2>Contoh Konstruktor (default) tanpa Parameter</h2>

<p>
Sesuai dengan keterangannya, Kontruktor ini ditulis tanpa parameter didalamnya. Panggil (initialize) constructor ini digunakan untuk membuat sebuah Object dari class tersebut, dimana variable akan terisi sesuai default value dari masing-masing variable.
</p>

<p>
Contoh penulisan constuctor tanpa parameter : 
</p>

<pre>
<code class="language-java">
public class NamaClass {
	public int num;
	
	// this is (default) constructor. without parameter
	public NamaClass() {
		this.num  = 100;
		System.out.println("Initialized default constructor");
	}
}
</code>
</pre>

<p>
Berikut contoh pemanggilan constructor (instance).
</p>

<pre>
<code class="language-java">
public class ClassMain {
	public static void main(String args[]) {
		NamaClass t1 = new NamaClass();
		System.out.println("Num = " + t1.num);
	}
}
</code>
</pre>

<p>
Output : 
</p>

<pre>
<code class="language-java">
Initialized default constructor
Num = 100
</code>
</pre>

<h2>Contoh Konstruktor dengan Parameter</h2>

<p>
Biasanya kita akan membutuhkan suatu constructor yang memiliki satu atau lebih parameter didalamnya. dengan tujuan untuk membuat suatu Object, dimana object tersebut sudah mempunyai default value dari variables didalamnya.
</p>

<p>
Contoh penulisan constuctor dengan parameter : 
</p>

<pre>
<code class="language-java">
public class NamaClass {
	public int num;
	
	// this is (default) constructor. without parameter
	public NamaClass(int num) {
		this.num  = num;
		System.out.println("Initialized default constructor");
	}
}
</code>
</pre>

<p>
Berikut contoh pemanggilan constructor (instance).
</p>

<pre>
<code class="language-java">
public class ClassMain {
	public static void main(String args[]) {
		NamaClass t2 = new NamaClass(200);
		System.out.println("Num = " + t2.num);
	}
}
</code>
</pre>

<p>
Output : 
</p>

<pre>
<code class="language-java">
Initialized default constructor
Num = 200
</code>
</pre>

<p>
Demikian untuk penjelasan dari Konstruktor, semoga bermanfaat.
Jika butuh code utuhnya bisa lihat contoh dibawah.
</p>

<pre>
<code class="language-java">
public class NamaClass {
	public int num;
	
	// this is (default) constructor. without parameter
	public NamaClass() {
		this.num  = 100;
		System.out.println("Initialized default constructor");
	}
	
	// this is (default) constructor. without parameter
	public NamaClass(int num) {
		this.num  = num;
		System.out.println("Initialized default constructor");
	}
}

public class ClassMain {
	public static void main(String args[]) {
		NamaClass t1 = new NamaClass();
		NamaClass t2 = new NamaClass(200);
		
		System.out.println("Num = " + t1.num);
		System.out.println("Num = " + t2.num);
	}
}
</code>
</pre>

<p>
Output : 
</p>

<pre>
<code class="language-java">
Initialized default constructor
Initialized default constructor
Num = 100
Num = 200
</code>
</pre>

<br/>
<br/>