<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"> 

    <ui:define name="content">
        
        <h2>
            Main Page
        </h2>       

        <h:form id="formValidation">
            <input style="display: none;" id="dataMergeInput" value="1|12/11/2010|ASDA|1299999|121212|120000000|OPOO||1|12/11/2010|ASDA|1299999|121212|120000000|OPOO" />
             <p:commandButton value="Test Print" onclick="postPrintData()"/>
        </h:form>
        
        <script>
            function postPrintData() {
                //panjang percolumn
                var arrayColumn     = '20|50|30|60|70|70|70'; // hard code
                //nama Printer
                var printerName     = 'Nitro PDF Creator 2'; //hard code
                //url print service
                var urlPrintService = 'http://localhost:8080/pbp-web/PrintDataServlet'; //hard code
                //top or header spacing
                var top             = 50;
                //left spacing
                var left            = 20;
                //line height
                var lineHeight      = 15;
                
                var dataTransaction = '';
            
                //set data transaction befor print if data from table please use function bellow
                dataTransaction = document.getElementById('dataMergeInput').value;
                
                var jqxhr = $.post(urlPrintService, { data: dataTransaction, arrayColumn: arrayColumn, 
                    top: top, left: left, lineHeight: lineHeight, printerName: printerName},function() {
                    alert("success");
                });
                
                return false;
            }
            
            function extractFromTable() {
                var oTable = document.getElementById('tablePrintData');
                //gets table

                var rowLength = oTable.rows.length;
                //gets rows of table
                
                var cellVal = '';
                
                var i = 0;
                while (true){
                    //loops through rows
                    if(i==rowLength){ break; }
                
                    var oCells = oTable.rows.item(i).cells;
                    //gets cells of current row
                    var cellLength = oCells.length;
                    var j = 0;
                    while(true){
                        if(cellLength == j){ break; }
                        //loops through each cell in current row
                        cellVal += (oCells.item(j).innerHTML + "|");
                        j++;
                    }
                    cellVal += "|";
                    i++;
                }
                //  alert(cellVal);
            }
            
            
                
        </script>
    </ui:define>

</ui:composition>