<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <f:view encoding="UTF-8" contentType="text/html">
        <h:head>
         <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        </h:head>

        <h:body>
            <ui:insert name="content">Content</ui:insert>
        </h:body>
    </f:view>
</html>
